In [47]:
import pandas as pd
import json
#from datetime import timedelta
#import calendar
import numpy as np
#import re
#from sklearn.preprocessing import MinMaxScaler

# Load in dataset from assignment 2

In [22]:
# read in tsv dataset
reports = pd.read_csv('../../Data/reports_v3.tsv', sep='\t')

print(reports)

# get an overview of all columsn
# for col in reports.columns:
    # print(col)

        Report Type     Id    Class                Submitted Date  \
0            Report  13038  Class A  Saturday, November 12, 2005.
1            Report   8792  Class B       Thursday, June 3, 2004.
2            Report   1255  Class B     Tuesday, October 5, 1999.
3     Media Article    658      NaN   Wednesday, January 23, 2013
4            Report  11616  Class B          Friday, May 6, 2005.
...             ...    ...      ...                           ...
5462         Report   1411  Class A    Tuesday, January 23, 2001.
5463  Media Article     59      NaN      Wednesday, June 18, 1980
5464         Report  14714  Class A         Friday, May 19, 2006.
5465         Report  12884  Class A    Tuesday, October 25, 2005.
5466         Report    798  Class B        Monday, June 26, 2000.

                                               Headline  Year  Season  \
0     Snowmobiler has encounter in deep snow near Po...  2004  Winter
1     Four nocturnal hikers get pelted with snow nea...  2003  Winter
2     Creature observed walking back and forth by wi...  1998    Fall
3               Legendary Bigfoot sighted near Kasigluk   NaN     NaN
4              Fishermen find footprints east of Egegik  2004  Summer
...                                                 ...   ...     ...
5462  Family sees massive ape just after daybreak ne...  1994  Summer
5463          Two Men Report Seeing Huge Hairy Creature   NaN     NaN
5464  Early morning sighting by newspaper deliverer ...  2005  Winter
5465  Daytime sighting by six siesmographic workers ...  1984  Winter
5466  Car passenger sees figure on road on remote, s...  2000  Summer

          Month    State       County  ... PRODUCT_entities PRODUCT_score  \
0      February   Alaska    Anchorage  ...              NaN           NaN
1      December   Alaska    Anchorage  ...              NaN           NaN
2     September   Alaska       Bethel  ...              NaN           NaN
3           NaN      NaN          NaN  ...              NaN           NaN
4          July   Alaska  Bristol Bay  ...              NaN           NaN
...         ...      ...          ...  ...              ...           ...
5462       June  Wyoming        Teton  ...              NaN           NaN
5463        NaN      NaN          NaN  ...              NaN           NaN
5464   November  Wyoming        Uinta  ...              NaN           NaN
5465    January  Wyoming        Uinta  ...              NaN           NaN
5466       June  Wyoming     Washakie  ...              NaN           NaN

     EVENT_entities EVENT_score MONEY_entities LAW_entities MONEY_score  \
0               NaN         NaN            NaN          NaN         NaN
1               NaN         NaN            NaN          NaN         NaN
2               NaN         NaN            NaN          NaN         NaN
3               NaN         NaN            NaN          NaN         NaN
4               NaN         NaN            NaN          NaN         NaN
...             ...         ...            ...          ...         ...
5462            NaN         NaN            NaN          NaN         NaN
5463    a "Big Foot         0.2            NaN          NaN         NaN
5464            NaN         NaN            NaN          NaN         NaN
5465            NaN         NaN            NaN          NaN         NaN
5466            NaN         NaN            NaN          NaN         NaN

     LAW_score LANGUAGE_entities LANGUAGE_score
0          NaN               NaN            NaN
1          NaN               NaN            NaN
2          NaN               NaN            NaN
3          NaN               NaN            NaN
4          NaN               NaN            NaN
...        ...               ...            ...
5462       NaN               NaN            NaN
5463       NaN               NaN            NaN
5464       NaN               NaN            NaN
5465       NaN               NaN            NaN
5466       NaN               NaN            NaN

[5467 rows x 119 columns]

# Selecting columns of interest and preparing for visualization

In [57]:
# define a list of only the columns I need for my visualization
columns_of_interest = ['National Park Visitation Count', 'BigFoot Hotspot', 'Year']

# keep only the columns of interest in the datase
df = reports[columns_of_interest]

#print(df)

# inspect value counts and nan values
#print(df['Year'].value_counts())
#print(df['BigFoot Hotspot'].value_counts())
#print(df['National Park Visitation Count'].value_counts())
#print(df['National Park Visitation Count'].isna().sum())
#print(df['BigFoot Hotspot'].isna().sum())
#print(df['Year'].isna().sum())

# dropping nan rows (these only exist for national park visiation count)
df.dropna(inplace=True)

# dropping rows where the year is 0
df = df[df['Year'] != 0]

# converting the national park visitation count to integer (currently float)
df['National Park Visitation Count'] = df['National Park Visitation Count'].astype(int)

print(df)

# print(df['Year'].value_counts())

# Group the data by 'Year' and 'BigFoot Hotspot' and compute the median visitation count
median_visitation_counts = df.groupby(['Year', 'BigFoot Hotspot'])['National Park Visitation Count'].median().reset_index()

# Pivot the data to have years as rows and columns for false and true hotspots
pivot_table = median_visitation_counts.pivot(index='Year', columns='BigFoot Hotspot', values='National Park Visitation Count')

# Drop rows with missing values
pivot_table.dropna(inplace=True)

# Rename the columns for clarity
pivot_table.columns = ['Non_Hotspots_Median', 'Hotspots_Median']

# Create a MinMaxScaler instance
#scaler = MinMaxScaler()

#visitation_counts_1 = pivot_table['Non_Hotspots_Median'].values.reshape(-1, 1)
#visitation_counts_1 = pivot_table['Hotspots_Median'].values.reshape(-1, 1)

# Fit and transform the visitation counts using MinMaxScaler
#pivot_table['Non_Hotspots_Median'] = scaler.fit_transform(visitation_counts_1)
#pivot_table['Hotspots_Median'] = scaler.fit_transform(visitation_counts_1)

# adding year column in (currently the index)
pivot_table.reset_index(inplace=True)

print(pivot_table)

      National Park Visitation Count  BigFoot Hotspot  Year
0                             244232            False  2004
1                             243719            False  2003
2                               5550            False  1998
4                              56787            False  2004
5                              28331            False  2000
...                              ...              ...   ...
5461                         2590624            False  2000
5462                         2540699            False  1994
5464                         2463442            False  2005
5465                         1360898            False  1984
5466                         2838233            False  2000

[4200 rows x 3 columns]
    Year  Non_Hotspots_Median  Hotspots_Median
0   1979            1118800.0         963726.0
1   1980            1160588.0        1268256.0
2   1981            1286316.0        1233671.0
3   1982            1015580.0        1007300.0
4   1983            1133157.0        1106306.0
5   1984            1501450.0        1152411.0
6   1985            1112764.0        1165640.0
7   1986            1042148.0        1298457.0
8   1987            1113405.0        1292027.0
9   1988            1229717.0         677135.0
10  1989            1672840.0        1004208.5
11  1990            1123175.0        1327101.0
12  1991            1358984.0        1549412.0
13  1992            1504013.0         468011.0
14  1993            1763094.0        1365213.0
15  1994            1528537.0        1426244.0
16  1995            1617077.0        1438227.0
17  1996            1538105.0        1338961.0
18  1997            1509596.0        1315773.0
19  1998            1473100.0        1353793.0
20  1999            1384469.0        1291397.0
21  2000            1419579.0        1344833.0
22  2001            1296786.0        1301103.0
23  2002            1389244.0        1310390.0
24  2003            1272848.5        1262351.0
25  2004            1418735.0        1217750.0
26  2005            1340160.0        1173897.0
27  2006            1113601.0        1113601.0
28  2007            1107227.0        1047685.0
29  2008            1212854.0        1163227.0
30  2009            1151654.0        1151654.0
31  2010            2150345.0        1191754.0
32  2011            1209883.0        1038229.0
33  2012            1210200.0        1049178.0
34  2013            1071823.0         896600.0
35  2014            1264259.0        1264259.0
36  2015            1640195.0        1237231.0
37  2016            1437341.0        1356913.0
38  2017            1415867.0        1415867.0
39  2018            1264880.0        2311473.0
40  2019            2055309.0        1003171.5
41  2020            1348215.0        1160754.0
42  2021            1682720.0         435879.0

C:\Users\tberg_cl8rsaz\AppData\Local\Temp\ipykernel_14288\99739560.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

# Convert to json

In [58]:
# Convert DataFrame to a dictionary of records and wrap in another dictionary
dic = {'BFRO': pivot_table.to_dict(orient='records')}

# Write the dictionary to a JSON file with pretty printing
with open('../../Dataset1/BFRO_vis_1.json', 'w') as f:
    json.dump(dic, f, indent=2)