In [20]:
import pandas as pd
import json
import numpy as np

# Load in dataset from assignment 2

In [34]:
# read in tsv dataset
df = pd.read_csv('../../Data/reports_v3.tsv', sep='\t')

print(df)

        Report Type     Id    Class                Submitted Date  \
0            Report  13038  Class A  Saturday, November 12, 2005.
1            Report   8792  Class B       Thursday, June 3, 2004.
2            Report   1255  Class B     Tuesday, October 5, 1999.
3     Media Article    658      NaN   Wednesday, January 23, 2013
4            Report  11616  Class B          Friday, May 6, 2005.
...             ...    ...      ...                           ...
5462         Report   1411  Class A    Tuesday, January 23, 2001.
5463  Media Article     59      NaN      Wednesday, June 18, 1980
5464         Report  14714  Class A         Friday, May 19, 2006.
5465         Report  12884  Class A    Tuesday, October 25, 2005.
5466         Report    798  Class B        Monday, June 26, 2000.

                                               Headline  Year  Season  \
0     Snowmobiler has encounter in deep snow near Po...  2004  Winter
1     Four nocturnal hikers get pelted with snow nea...  2003  Winter
2     Creature observed walking back and forth by wi...  1998    Fall
3               Legendary Bigfoot sighted near Kasigluk   NaN     NaN
4              Fishermen find footprints east of Egegik  2004  Summer
...                                                 ...   ...     ...
5462  Family sees massive ape just after daybreak ne...  1994  Summer
5463          Two Men Report Seeing Huge Hairy Creature   NaN     NaN
5464  Early morning sighting by newspaper deliverer ...  2005  Winter
5465  Daytime sighting by six siesmographic workers ...  1984  Winter
5466  Car passenger sees figure on road on remote, s...  2000  Summer

          Month    State       County  ... PRODUCT_entities PRODUCT_score  \
0      February   Alaska    Anchorage  ...              NaN           NaN
1      December   Alaska    Anchorage  ...              NaN           NaN
2     September   Alaska       Bethel  ...              NaN           NaN
3           NaN      NaN          NaN  ...              NaN           NaN
4          July   Alaska  Bristol Bay  ...              NaN           NaN
...         ...      ...          ...  ...              ...           ...
5462       June  Wyoming        Teton  ...              NaN           NaN
5463        NaN      NaN          NaN  ...              NaN           NaN
5464   November  Wyoming        Uinta  ...              NaN           NaN
5465    January  Wyoming        Uinta  ...              NaN           NaN
5466       June  Wyoming     Washakie  ...              NaN           NaN

     EVENT_entities EVENT_score MONEY_entities LAW_entities MONEY_score  \
0               NaN         NaN            NaN          NaN         NaN
1               NaN         NaN            NaN          NaN         NaN
2               NaN         NaN            NaN          NaN         NaN
3               NaN         NaN            NaN          NaN         NaN
4               NaN         NaN            NaN          NaN         NaN
...             ...         ...            ...          ...         ...
5462            NaN         NaN            NaN          NaN         NaN
5463    a "Big Foot         0.2            NaN          NaN         NaN
5464            NaN         NaN            NaN          NaN         NaN
5465            NaN         NaN            NaN          NaN         NaN
5466            NaN         NaN            NaN          NaN         NaN

     LAW_score LANGUAGE_entities LANGUAGE_score
0          NaN               NaN            NaN
1          NaN               NaN            NaN
2          NaN               NaN            NaN
3          NaN               NaN            NaN
4          NaN               NaN            NaN
...        ...               ...            ...
5462       NaN               NaN            NaN
5463       NaN               NaN            NaN
5464       NaN               NaN            NaN
5465       NaN               NaN            NaN
5466       NaN               NaN            NaN

[5467 rows x 119 columns]

# Selecting columns of interest and preparing for visualization

In [35]:
# define a list of only the columns I need for my visualization
columns_of_interest = ['National Park Visitation Count', 'BigFoot Hotspot', 'Fixed Year']

# keep only the columns of interest in the datase
df = df[columns_of_interest]

# renaming to year
df.rename(columns={'Fixed Year': 'Year'}, inplace=True)

#print(df)

# dropping nan rows (these only exist for national park visiation count)
df.dropna(inplace=True)

# dropping rows where the year is 0
#df = df[df['Year'] != 0]

# converting the national park visitation count to integer (currently float)
df['National Park Visitation Count'] = df['National Park Visitation Count'].astype(int)

# print(df)

# group the data by 'Year' and 'BigFoot Hotspot' and compute the median, average, min, and max visitation count
summary_stats = df.groupby(['Year', 'BigFoot Hotspot'])['National Park Visitation Count'].agg(['median', 'mean', 'min', 'max']).reset_index()

# pivot the summary statistics to have years as rows and columns for each hotspot
pivot_table = summary_stats.pivot(index='Year', columns='BigFoot Hotspot')

#print(pivot_table)

pivot_table.columns = ['Non_Hotspots_Median', 'Hotspots_Median', 'Non_Hotspots_Mean', 'Hotspots_Mean', 'Non_Hotspots_Min',
                      'Hotspots_Min', 'Non_Hotspots_Max', 'Hotspots_Max']

#print(pivot_table)

# Drop rows with missing values
pivot_table.dropna(inplace=True)

# adding year column in (currently the index)
pivot_table.reset_index(inplace=True)

print(pivot_table)

    Year  Non_Hotspots_Median  Hotspots_Median  Non_Hotspots_Mean  \
0   1979            1118800.0         963726.0       1.135489e+06
1   1980            1160588.0        1268256.0       1.167471e+06
2   1981            1233671.0        1233671.0       1.919562e+06
3   1982            1015580.0        1007300.0       1.423231e+06
4   1983            1106306.0        1106306.0       1.538318e+06
5   1984            1152411.0        1152411.0       1.802052e+06
6   1985            1139202.0        1165640.0       2.006716e+06
7   1986            1056527.0        1298457.0       2.047646e+06
8   1987            1113405.0        1292027.0       2.081980e+06
9   1988            1229717.0         677135.0       1.475697e+06
10  1989            1732371.0        1004208.5       1.692082e+06
11  1990            1123175.0        1327101.0       1.432392e+06
12  1991            1358984.0        1549412.0       1.695894e+06
13  1992            1504013.0         995034.0       1.702634e+06
14  1993            1763094.0        1365213.0       2.250160e+06
15  1994            1426244.0        1426244.0       1.829910e+06
16  1995            1617077.0        1438227.0       1.835883e+06
17  1996            1538105.0        1338961.0       1.716948e+06
18  1997            1509596.0        1315773.0       1.789387e+06
19  1998            1473100.0        1353793.0       2.123635e+06
20  1999            1710983.0        1291397.0       2.544725e+06
21  2000            1419579.0        1344833.0       2.288840e+06
22  2001            1296786.0        1301103.0       1.730501e+06
23  2002            1389244.0        1310390.0       1.904168e+06
24  2003            1283346.0        1262351.0       2.107226e+06
25  2004            1339867.5        1217750.0       1.936434e+06
26  2005            1340160.0        1173897.0       2.139213e+06
27  2006            1113601.0        1113601.0       1.965735e+06
28  2007            1142619.5        1047685.0       2.150184e+06
29  2008            1212854.0        1163227.0       1.772155e+06
30  2009            1284707.0        1151654.0       2.289664e+06
31  2010            2150345.0        1191754.0       2.090843e+06
32  2011            1209883.0        1038229.0       1.917104e+06
33  2012            1210200.0        1049178.0       1.918312e+06
34  2013            1071823.0        1148552.0       1.837974e+06
35  2014            1264259.0        1264259.0       1.832796e+06
36  2015            1669425.5        1237231.0       2.335427e+06
37  2016            1437341.0        1356913.0       2.220133e+06
38  2017            1415867.0        1415867.0       1.944734e+06
39  2018            1264880.0        2311473.0       1.561940e+06
40  2019            2055309.0        1003171.5       2.507829e+06
41  2020            1348215.0        1160754.0       2.143441e+06
42  2021            1682720.0         435879.0       2.268431e+06

    Hotspots_Mean  Non_Hotspots_Min  Hotspots_Min  Non_Hotspots_Max  \
0    9.560422e+05             14782        380014           8019788
1    1.200802e+06            104574        796079           8440953
2    1.005601e+06             14558        549461           8312884
3    1.156431e+06             13238        467126           8177869
4    1.480418e+06             12928        858041           8435475
5    9.124448e+05             11814        467155           8508390
6    1.417256e+06             12332        505791           9319290
7    1.298457e+06             16508       1298457           9836306
8    1.292027e+06             20312       1292027          10209841
9    1.499928e+06             26257        605967           8770781
10   1.610185e+06             25445        466115           5440952
11   1.677042e+06             23223       1327101           8151769
12   1.327089e+06             22004         22796           8654459
13   9.749765e+05             22728        387781           8931690
14   1.783756e+06             21378        421027           9283848
15   1.819807e+06             19323        454215           8628174
16   1.311689e+06             65984        552464           9080420
17   1.034953e+06             23445        426938           9265667
18   1.493387e+06             21381        382488           9965075
19   1.207780e+06              5550         32753           9989395
20   1.326926e+06             23493         21488          10283598
21   1.191451e+06             21096         25704          10175812
22   1.608037e+06             19431        376695           9197697
23   1.229114e+06             19463         20691           9316420
24   1.259390e+06             17800        408126           9366845
25   1.093979e+06             16912         16912           9167046
26   8.963174e+05             17398         18686           9192477
27   1.920672e+06             17070        383780           9289215
28   1.806227e+06             15973        385171           9372253
29   1.288602e+06             14038         18725           9044010
30   8.905583e+05             26972         26972           9491437
31   9.607605e+05             15793        448319           9463538
32   8.993371e+05             15892        351269           9008830
33   1.217030e+06             16663         26935           9685829
34   7.169197e+05             16274         21623           9354695
35   1.468997e+06             14560         23865          10099276
36   2.255927e+06             18684         20677          10712674
37   1.065212e+06             24966         28646          11312786
38   1.415867e+06             28196       1415867          11338893
39   2.311473e+06             25798       1518491          11421200
40   1.003172e+06             26410        504722          12547743
41   1.160754e+06             30885       1160754          12095720
42   4.358790e+05             17855        435879          14161548

    Hotspots_Max
0        1516703
1        1268256
2        1233671
3        2293127
4        2457464
5        1152411
6        2831952
7        1298457
8        1292027
9        3216681
10       3966209
11       3776685
12       3886031
13       1522057
14       3839645
15       3962117
16       1438227
17       1338961
18       3669970
19       3657132
20       4575124
21       4460228
22       3368731
23       3361867
24       3378664
25       3073722
26       1173897
27       4279439
28       4413668
29       4425314
30       1151654
31       1191754
32       1038229
33       4421352
34       1148552
35       4756771
36       5520736
37       1356913
38       1415867
39       3104455
40       1501621
41       1160754
42        435879

# Convert to json

In [36]:
# convert DataFrame to a dictionary of records and wrap in another dictionary
dic = {'BFRO': pivot_table.to_dict(orient='records')}

# write the dictionary to a JSON file with pretty printing
with open('../../Dataset1/BFRO_vis_1.json', 'w') as f:
    json.dump(dic, f, indent=2)